:root {--메인컬러: #a669b6;}
* {font-size: 16px; box-sizing: border-box; line-height: 1.6;}

/* 반응형 설정 */
@media only screen and (max-width: 1600px) {
  #main_middle {
    padding: 5% !important;
    .split {
      width: 100%;
      float: none !important;
      margin-bottom: 10px;
    }
  }
}

#main_top {
  background: url(../images/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #777;
  background-position: center;
}

@keyframes 동글이 {
  0%, 100% {border-radius: 40% 60% 70% 30% / 45% 45% 55% 55%;}
  50% {border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
}
#동글박스 {
  animation: 동글이 5s ease-in-out infinite;
  transition: .5s;
  position: absolute;
  top: calc(50% - 30vw);
  left: calc(50% - 30vw);
  width: 60vw;
  height: 60vw;
  border: 1px solid #bbb;
}

.highlight {color: var(--메인컬러);}
#main_middle {
  padding: 5% 20%; 
  height: auto;

  .split {float: left;}
  li {margin-bottom: 5px;}
  .name {
    margin-bottom: 15px;
    >* {font-size: 40px; font-weight: bold;}
  }
  aside {margin-top: 30px; border-top: 1px solid #ccc; max-width: 100%; width: 100%; margin-bottom: 60px;}
  article {line-height: 1.8;}
  header {font-size: 30px; margin: 20px 0; font-weight: bold; color: var(--메인컬러);}
}

#프로필 {
  overflow: hidden; 
  display: flex; 
  justify-content: center;

  a {text-decoration: underline;}
  .split:first-child {
    width: 150px; 
    margin-right: 40px; 
    border: 1px solid #eee; 
    text-align: center;
  }
}

.가운데맞춤 {
  position: relative;
  left: 50%;
  translate: -50%;
  width: fit-content !important;
}

aside#간략소개 {
  text-align: left;
  position: relative;

  header {margin-top: 30px;}
}


blockquote {
  overflow: hidden; margin: 30px 0; padding-bottom: 10px; border-bottom: 1px solid #eee;

  &:last-child {border-bottom: none;}
  .split{
    &:nth-child(1) {
      width: 200px; position: relative; padding-left: 10px;
      &::before {
        content: "●"; font-size: 5px; position: absolute; left: 0; top: 7px; color: var(--메인컬러);
      }
    }
    &:nth-child(2) {width: calc(100% - 200px);}
  }
  .title {font-size: 20px; font-weight: bold; display: block;}
  .sub {color: #333; margin: 10px 0 15px; padding-bottom: 5px; border-bottom: 1px solid #eee;}
}
.stack {
  &::before {content: "기술 스택 : ";}
  span {
    background: var(--메인컬러);
    color: #fff;
    border-radius: 20px;
    margin-right: 4px;
    padding: 3px 9px;
    font-size: 13px;
  }
}


.project_img_wrap {
  margin-bottom: 20px;
  overflow: hidden;
  background: linear-gradient(145deg, #eeeeee30, transparent);
  border-radius: 10px;
  position: relative;

  img {
    height: 100%;
    max-width: 100%;
  }

  &:hover #링크안내 {
    opacity: 1;
  }
}
.app_link {
  margin-left: 3px;
  display: inline;
  >a {
    position: relative;

    &::after {
      content: " ";
      background-image: url(../images/icon_more.png);
      background-size: contain;
      width: 18px;
      height: 18px;
      position: absolute;
      right: -20px;
      top: 2px;
    }
  }
}


.swiper {width: 100%; height: 400px;}
.swiper-wrapper {text-align: center;}
.swiper-button-next, .swiper-button-prev {color: var(--메인컬러) !important;}
.swiper-pagination-bullet-active {background: var(--메인컬러) !important;}
.swiper-horizontal>.swiper-pagination-bullets span {width: 20px; height: 5px; border-radius: 3px;}

footer {
  #footer_head {background-color: #777; height: 30px;}
  #footer_body {height: 60px; background-color: #000; color: #fff; text-align: center; line-height: 60px; letter-spacing: .5rem;}
}


.숨기기 {display: none;}
#메뉴 {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, .8);
  border-bottom: 1px solid #ddd;
  padding: 10px;
  z-index: 3;
  transition: .5s;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      color: #555;
      letter-spacing: -2px;
      margin: 0 20px;
      cursor: pointer;
      position: relative;

      &::first-letter {
        font-size: 150%;
        font-weight: bold;
        color: var(--메인컬러);
      }

      &::after {
        content: "";
        width: 0%;
        height: 3px;
        background: gold;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .위치표시 {
    text-decoration: underline;
    text-decoration-color: var(--메인컬러);
    text-decoration-thickness: 7px;
  }
}

#링크안내 {
  opacity: 0;
  width: fit-content;
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: rgba(255, 255, 255, .8);
  transition: .5s;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #555;
  
  // 링크안내 버전2
  // opacity: 0;
  // width: 100%;
  // height: 60px;
  // padding: 10px 5px;
  // position: absolute;
  // bottom: 0;
  // z-index: 2;
  // transition: 0.5s;
  // letter-spacing: -2px;
  // background: linear-gradient(0deg, #ddd, transparent);
  // background-blend-mode: multiply;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-shadow: -1px 0px #eee, 0px 1px #eee, 1px 0px #eee, 0px -1px #eee;
  // color: #333;
  // backdrop-filter: blur(2px);
  // border-top: 5px solid gold;

  >div {
    position: relative;
    top: -7px;
  }
  span {
    color: var(--메인컬러);
    font-weight: bold;
  }

  &::before {
    content: "TIP";
    position: relative;
    top: -14px;
    left: 0;
    letter-spacing: 2px;
    color: gold;
    font-weight: bold;
    border-radius: 5px;
    background: #fff;
  }
}